In [33]:
# Task 1
import requests
from bs4 import BeautifulSoup
res = requests.get("https://www.xe.com/currencyconverter/convert/?Amount=1&From=USD&To=EGP") #scraping the data
soup = BeautifulSoup(res.text,"html.parser")#parsing the data
div_tag = soup.find("div",attrs= {"class":"[grid-area:conversion]"})
usd_egp = div_tag.find("div").find_all("p")[0].text + div_tag.find("div").find_all("p")[1].text #scraping USD TO EGP exchange
print(usd_egp)
#the S.W 
egp = float(div_tag.find("div").find_all("p")[1].text.split(" ")[0])
user_input = float(input("please enter the amount in dollars"))
result = user_input * egp
print(f"{user_input} US Dollar = {result} Egyptian Pounds")

1.00 US Dollar =50.860003 Egyptian Pounds
3.0 US Dollar = 152.580009 Egyptian Pounds

In [12]:
#Task 3 for one page
import requests
from bs4 import BeautifulSoup
import pandas as pd
res = requests.get("https://books.toscrape.com/")
soup = BeautifulSoup(res.text,"html.parser")
article_tags = soup.find_all("article")

#name = soup.find_all("article")[0].find("h3").text
'''
book_link = "https://books.toscrape.com/"+ soup.find_all("article")[0].find("h3").find("a").attrs["href"]
book_res = requests.get(book_link)
book_res
book_soup = BeautifulSoup(book_res.text,"html.parser")
book_name = book_soup.find("div",{"class":"col-sm-6 product_main"}).find("h1").text
book_price = soup.find_all("article")[0].find("div",{"class":"product_price"}).find("p").text
rating = soup.find_all("article")[0].find("p").get("class")[1]'''

name_list = []
price_list = []
rating_list = []

with open ("book.csv", mode = "w", encoding="utf-8") as fd :
    fd.write("id,Book Name,Book Price, Rating\n")
    for i in range(len(article_tags)):

        book_link = "https://books.toscrape.com/"+ soup.find_all("article")[i].find("h3").find("a").attrs["href"]
        book_res = requests.get(book_link)
        book_soup = BeautifulSoup(book_res.text,"html.parser")
        name_list.append(book_soup.find("div",{"class":"col-sm-6 product_main"}).find("h1").text)
        price_list.append(soup.find_all("article")[i].find("div",{"class":"product_price"}).find("p").text)
        rating_list.append(soup.find_all("article")[i].find("p").get("class")[1])
        fd.write(f"{i+1},\"{name_list[i]}\",\"{price_list[i]}\",\"{rating_list[i]}\"\n")

books_df = pd.read_csv("book.csv")  
books_df

    id                                          Book Name Book Price  Rating
0    1                               A Light in the Attic    Â£51.77   Three
1    2                                 Tipping the Velvet    Â£53.74     One
2    3                                         Soumission    Â£50.10     One
3    4                                      Sharp Objects    Â£47.82    Four
4    5              Sapiens: A Brief History of Humankind    Â£54.23    Five
5    6                                    The Requiem Red    Â£22.65     One
6    7  The Dirty Little Secrets of Getting Your Dream...    Â£33.34    Four
7    8  The Coming Woman: A Novel Based on the Life of...    Â£17.93   Three
8    9  The Boys in the Boat: Nine Americans and Their...    Â£22.60    Four
9   10                                    The Black Maria    Â£52.15     One
10  11     Starving Hearts (Triangular Trade Trilogy, #1)    Â£13.99     Two
11  12                              Shakespeare's Sonnets    Â£20.66    Four
12  13                                        Set Me Free    Â£17.46    Five
13  14  Scott Pilgrim's Precious Little Life (Scott Pi...    Â£52.29    Five
14  15                          Rip it Up and Start Again    Â£35.02    Five
15  16  Our Band Could Be Your Life: Scenes from the A...    Â£57.25   Three
16  17                                               Olio    Â£23.88     One
17  18  Mesaerion: The Best Science Fiction Stories 18...    Â£37.59     One
18  19                       Libertarianism for Beginners    Â£51.33     Two
19  20                            It's Only the Himalayas    Â£45.17     Two

In [36]:
#Task 3 with pigination
import requests
from bs4 import BeautifulSoup
import pandas as pd
conut_res = requests.get("https://books.toscrape.com/")
count_soup = BeautifulSoup(conut_res.text,"html.parser")
page_count = int(count_soup.find("li",attrs={"class":"current"}).text.strip("\n  \n  \n").split(" ")[3])
name_list = []
price_list = []
rating_list = []
for j in range(page_count):
    res = requests.get(f"https://books.toscrape.com/catalogue/page-{j}.html")  
    soup = BeautifulSoup(res.text,"html.parser")  
    soup  
    article_tags = soup.find_all("article")

    for i in range(len(article_tags)):
            name_list.append(soup.find_all("article")[i].find("h3").text)
            price_list.append(soup.find_all("article")[i].find("div",{"class":"product_price"}).find("p").text)
            rating_list.append(soup.find_all("article")[i].find("p").get("class")[1])
            
with open ("books.csv", mode = "w", encoding="utf-8") as fd :
        fd.write("id,Book Name,Book Price, Rating\n")
        for i in range(len(price_list)):
             fd.write(f"{i+1},\"{name_list[i]}\",\"{price_list[i]}\",\"{rating_list[i]}\"\n")
books_df = pd.read_csv("books.csv")  
books_df

      id                        Book Name Book Price  Rating
0      1               A Light in the ...    Â£51.77   Three
1      2               Tipping the Velvet    Â£53.74     One
2      3                       Soumission    Â£50.10     One
3      4                    Sharp Objects    Â£47.82    Four
4      5     Sapiens: A Brief History ...    Â£54.23    Five
..   ...                              ...        ...     ...
975  976           Icing (Aces Hockey #2)    Â£40.44    Four
976  977          Hawkeye, Vol. 1: My ...    Â£45.24   Three
977  978  Having the Barbarian's Baby ...    Â£34.96    Four
978  979           Giant Days, Vol. 1 ...    Â£56.76    Four
979  980        Fruits Basket, Vol. 1 ...    Â£40.28    Five

[980 rows x 4 columns]

In [ ]:
#Task4
import requests
from bs4 import BeautifulSoup
import pandas as pd

res = requests.get("https://www.scrapethissite.com/pages/simple/")
res
soup = BeautifulSoup(res.text,"html.parser")
the_main_div = soup.find_all("div",{"class":"col-md-4 country"})
#firstly we try for the the_main_div [0]
#the_main_div = soup.find_all("div",{"class":"col-md-4 country"})[0]
#country_name = the_main_div.find("h3").text.strip(" ").strip("\n").strip(" ")
#country_capital = the_main_div.find("span",{"class":"country-capital"}).text
#country_population = the_main_div.find("span",{"class":"country-population"}).text
#country_area = the_main_div.find("span",{"class":"country-area"}).text

name = []
capital = []
popualtion = []
area = []
with open("country.csv",mode="w",encoding="utf-8") as fd :
    fd.write("Country Name,Capital,Poulation,Area\n")

    for i in range(len(the_main_div)):
        the_main_div = soup.find_all("div",{"class":"col-md-4 country"})[i]
        name.append(the_main_div.find("h3").text.strip(" ").strip("\n").strip(" "))
        capital.append(the_main_div.find("span",{"class":"country-capital"}).text)
        popualtion.append(the_main_div.find("span",{"class":"country-population"}).text)
        area.append(the_main_div.find("span",{"class":"country-area"}).text)
        fd.write(f"\"{name[i]}\",\"{capital[i]}\",\"{popualtion[i]}\",\"{area[i]}\",\n")

country_df = pd.read_csv("country.csv")
country_df

                          Country Name   Capital  Poulation  Area
Andorra               Andorra la Vella     84000      468.0   NaN
United Arab Emirates         Abu Dhabi   4975593    82880.0   NaN
Afghanistan                      Kabul  29121286   647500.0   NaN
Antigua and Barbuda         St. John's     86754      443.0   NaN
Anguilla                    The Valley     13254      102.0   NaN
...                                ...       ...        ...   ...
Yemen                            Sanaa  23495361   527970.0   NaN
Mayotte                      Mamoudzou    159042      374.0   NaN
South Africa                  Pretoria  49000000  1219912.0   NaN
Zambia                          Lusaka  13460305   752614.0   NaN
Zimbabwe                        Harare  11651858   390580.0   NaN

[250 rows x 4 columns]

In [172]:
#Task5
import requests
from bs4 import BeautifulSoup
import pandas as pd

res = requests.get("https://www.scrapethissite.com/pages/forms/?page_num=1")
res
soup = BeautifulSoup(res.text,"html.parser")
tr_tags = soup.find_all("tr",{"class":"team"})

'''
team_name = tr_tags[0].find("td",{"class":"name"}).text.strip("\n").strip(" ").strip("\n")
year = tr_tags[0].find("td",{"class":"year"}).text.strip("\n").strip(" ").strip("\n")
wins = tr_tags[0].find("td",{"class":"wins"}).text.strip("\n").strip(" ").strip("\n")
loss = tr_tags[0].find("td",{"class":"losses"}).text.strip("\n").strip(" ").strip("\n")
win_percentage = tr_tags[0].find("td",{"class":"pct text-success"}).text.strip("\n").strip(" ").strip("\n")
goal_for = tr_tags[0].find("td",{"class":"gf"}).text.strip("\n").strip(" ").strip("\n")
goal_aganist = tr_tags[0].find("td",{"class":"ga"}).text.strip("\n").strip(" ").strip("\n")'''

team_name = []
year = []
wins = []
loss = []
win_percentage = []
goal_for = []
goal_aganist = []

with open("game.csv",mode="w",encoding="utf-8")as fd:
    fd.write("Team name,Year,Wins,Loss,Win%,Goal for,Goal aganist\n")
    for i in range(len(tr_tags)):
        team_name.append(tr_tags[i].find("td",{"class":"name"}).text.strip("\n").strip(" ").strip("\n"))
        year.append(tr_tags[i].find("td",{"class":"year"}).text.strip("\n").strip(" ").strip("\n"))
        wins.append(tr_tags[i].find("td",{"class":"wins"}).text.strip("\n").strip(" ").strip("\n"))
        loss.append(tr_tags[i].find("td",{"class":"losses"}).text.strip("\n").strip(" ").strip("\n"))
        win_percentage .append(tr_tags[i].find_all("td")[5].text.strip("\n").strip(" ").strip("\n"))
        goal_for.append(tr_tags[i].find("td",{"class":"gf"}).text.strip("\n").strip(" ").strip("\n"))
        goal_aganist.append(tr_tags[i].find("td",{"class":"ga"}).text.strip("\n").strip(" ").strip("\n"))
        fd.write(f"\"{team_name[i]}\",\"{year[i]}\",\"{wins[i]}\",\"{loss[i]}\",\"{win_percentage[i]}\",\"{ goal_for[i]}\",\"{ goal_aganist[i]}\",\n")
game_df = pd.read_csv("game.csv")        
game_df

,Team name,Year,Wins,Loss,Win%,Goal for,Goal aganist
Boston Bruins,1990,44,24,0.550,299,264,NaN
Buffalo Sabres,1990,31,30,0.388,292,278,NaN
Calgary Flames,1990,46,26,0.575,344,263,NaN
Chicago Blackhawks,1990,49,23,0.613,284,211,NaN
Detroit Red Wings,1990,34,38,0.425,273,298,NaN
Edmonton Oilers,1990,37,37,0.463,272,272,NaN
Hartford Whalers,1990,31,38,0.388,238,276,NaN
Los Angeles Kings,1990,46,24,0.575,340,254,NaN
Minnesota North Stars,1990,27,39,0.338,256,266,NaN
Montreal Canadiens,1990,39,30,0.487,273,249,NaN
New Jersey Devils,1990,32,33,0.400,272,264,NaN
New York Islanders,1990,25,45,0.312,223,290,NaN
New York Rangers,1990,36,31,0.450,297,265,NaN
Philadelphia Flyers,1990,33,37,0.412,252,267,NaN
Pittsburgh Penguins,1990,41,33,0.512,342,305,NaN
Quebec Nordiques,1990,16,50,0.200,236,354,NaN
St. Louis Blues,1990,47,22,0.588,310,250,NaN
Toronto Maple Leafs,1990,23,46,0.287,241,318,NaN
Vancouver Canucks,1990,28,43,0.350,243,315,NaN
Washington Capitals,1990,37,36,0.463,258,258,NaN
Winnipeg Jets,1990,26,43,0.325,260,288,NaN
Boston Bruins,1991,36,32,0.450,270,275,NaN
Buffalo Sabres,1991,31,37,0.388,289,299,NaN
Calgary Flames,1991,31,37,0.388,296,305,NaN
Chicago Blackhawks,1991,36,29,0.450,257,236,NaN

In [3]:
#Task6
import requests
import pandas as pd
res = requests.get("https://jsonplaceholder.typicode.com/users")
my_data = res.json()
'''
name = my_data[0]["name"]
username = my_data[0]["username"]
email = my_data[0]["email"]
street = my_data[0]["address"]["street"]
suite = my_data[0]["address"]["suite"]
city = my_data[0]["address"]["city"]
zip_code = my_data[0]["address"]["zipcode"]
lat = my_data[0]["address"]["geo"]["lat"]
lng = my_data[0]["address"]["geo"]["lng"]
len(my_data)'''
name = []
username = []
email = []
street = []
suite = []
city = []
zip_code = []
lat  = []
lng = []
with open("user_data.csv",mode="w",encoding="utf-8") as fd:
    fd.write("id,Name,Username,Email,Street,Suite,City,Zip_code,Lat,Lng\n")
    for i in range(len(my_data)):
        name.append(my_data[i]["name"])
        username.append(my_data[i]["username"])   
        email.append(my_data[i]["email"])
        street.append(my_data[i]["address"]["street"])
        suite.append(my_data[i]["address"]["suite"])
        city.append(my_data[i]["address"]["city"])
        zip_code.append(my_data[i]["address"]["zipcode"])
        lat.append(my_data[i]["address"]["geo"]["lat"])
        lng.append(my_data[i]["address"]["geo"]["lng"])
        fd.write(f"{i+1},\"{name[i]}\",\"{username[i]}\",\"{email[i]}\",\"{street[i]}\",\"{suite[i]}\",\"{city[i]}\",\"{zip_code[i]}\",\"{lat[i]}\",\"{lng[i]}\"\n")


data={"name":name,"username":username,"email":email,"street":street,"suit":suite,"city":city,"zip code":zip_code,"lat":lat,"lng":lng}
df = pd.DataFrame(data)
df.to_excel("country.xlsx", index=False)

user_df = pd.read_csv("user_data.csv")    
user_df

,id,Name,Username,Email,Street,Suite,City,Zip_code,Lat,Lng
0,1,Leanne Graham,Bret,Sincere@april.biz,Kulas Light,Apt. 556,Gwenborough,92998-3874,-37.3159,81.1496
1,2,Ervin Howell,Antonette,Shanna@melissa.tv,Victor Plains,Suite 879,Wisokyburgh,90566-7771,-43.9509,-34.4618
2,3,Clementine Bauch,Samantha,Nathan@yesenia.net,Douglas Extension,Suite 847,McKenziehaven,59590-4157,-68.6102,-47.0653
3,4,Patricia Lebsack,Karianne,Julianne.OConner@kory.org,Hoeger Mall,Apt. 692,South Elvis,53919-4257,29.4572,-164.2990
4,5,Chelsey Dietrich,Kamren,Lucio_Hettinger@annie.ca,Skiles Walks,Suite 351,Roscoeview,33263,-31.8129,62.5342
5,6,Mrs. Dennis Schulist,Leopoldo_Corkery,Karley_Dach@jasper.info,Norberto Crossing,Apt. 950,South Christy,23505-1337,-71.4197,71.7478
6,7,Kurtis Weissnat,Elwyn.Skiles,Telly.Hoeger@billy.biz,Rex Trail,Suite 280,Howemouth,58804-1099,24.8918,21.8984
7,8,Nicholas Runolfsdottir V,Maxime_Nienow,Sherwood@rosamond.me,Ellsworth Summit,Suite 729,Aliyaview,45169,-14.3990,-120.7677
8,9,Glenna Reichert,Delphine,Chaim_McDermott@dana.io,Dayna Park,Suite 449,Bartholomebury,76495-3109,24.6463,-168.8889
9,10,Clementina DuBuque,Moriah.Stanton,Rey.Padberg@karina.biz,Kattie Turnpike,Suite 198,Lebsackbury,31428-2261,-38.2386,57.2232

github link
https://github.com/doaa-shabrawy/scraping-cont.